@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities{
  body {
    @apply bg-bodyBg
  }

  .container {
    @apply mx-auto max-w-[71.5rem];
  }
}

.leaflet-container {
  @apply h-full w-full;
}